<footer>
    
    <div class="f-info">
        <div class="f-info-socials">
            <a href="/facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="/instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="/x"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="/linkedin"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brands">&copy;  WanderLust Private Limited | Developed in 2024</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms &amp; Conditions</a>
            <a href="/contact">Contact Us</a>
        </div>
    </div>
</footer>